<!DOCTYPE html>
<html>

<style>
#canvas{
    outline: 1px solid #000;
    margin: auto;
    padding: 0;
    display: block;
}
</style>


<body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"> </script>
    <canvas id="canvas" height="400" width="600"></canvas>


<script>
    // var canvas = document.querySelector('#canvas');
    // var context = canvas.getContext('2d');
    var canvas = $("#canvas")[0]
    var context = $("#canvas")[0].getContext('2d')

    var xPos = 275;
    var yPos = 160;

    context.rect(xPos, yPos, 50, 50)
    context.stroke()

    tiles = []

    for(i=0; i<5; i++){
        x = random_tiles()
        context.rect(x[0], x[1], 50, 50)
        context.stroke()
        tiles.push(x)
    }

    var questions = '{{questions}}'

    questions = questions.split(' ')

    questions = clean_up(questions)


    function clean_up(arr){
        new_arr = []
        arr.forEach(function(item){
            // console.log(item.replace(/\D/g, ''))
            new_arr.push(item.replace(/\D/g, ''))
        })
        return new_arr
    }

    // console.log(questions)
    
    function check_tiles(queryX, queryY, tiles, questions){
        r = Math.floor(Math.random() * 4)
        num = questions[r]

  
        tiles.forEach(function(tile){
            if(queryX == tile[0] || queryY == tile[1]){
                window.location.href = '/question/' + num
            }     
        })
    }

    function random_tiles(){
        x = Math.floor(Math.random() * 500)
        y = Math.floor(Math.random() * 350)

        x = Math.ceil(x/5) * 5
        y = Math.ceil(y/5) * 5

        return [x,y]
    }

    function move(e){

        if(e.keyCode == 39){
            xPos += 5;
            if(xPos >= 550){
                xPos = 550
            }
        }

        if(e.keyCode == 37){
            xPos -= 5;
            if(xPos <= 0){
                xPos = 0
            }
        }

        if(e.keyCode == 38){
            yPos -= 5
            if(yPos <= 0){
                yPos = 0
            }
        }

        if(e.keyCode == 40){
            yPos += 5
            if(yPos >= 350){
                yPos = 350
            }
        }

        canvas.width = canvas.width;
        context.rect(xPos, yPos, 50,50)
        context.stroke()

        check_tiles(xPos, yPos, tiles, questions)

    }

    // $("#canvas").keydown(function(e){
    //     move(e)
    // })

    document.onkeydown = move

</script>

</body>
</html>
