<html>
<body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.44.0/codemirror.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.44.0/codemirror.css">


    {% for i in output %}
    <p>
       {{i}}
    </p>
    {% endfor %}

   
    <pre>
    <textarea id="editor" class="code">{{code}}</textarea>
    </pre>

    <div class="submit">submit code</div>

    <script>
    var editor = CodeMirror.fromTextArea(document.getElementById("editor"),{
        lineNumbers: true
    });

    $(function() {
        $(".submit").on("click", function() {
            console.log("SUBMITTING CODE");
            $.post({
                url: "/submit/{{problemid}}",
                data: {
                    code: editor.getValue()
                }
            }).then(function(res) {
                console.log("RESPONSE", res)
            })
        })
    })
    </script>
</body>
</html>